
---

---

<section class="w-full h-screen flex items-center justify-center contacto">
    <article class="w-[90%] h-[80%] grid grid-cols-1 md:grid-cols-2 bg-blog_services rounded-4xl overflow-hidden shadow-xl">
        <!-- Titulo -->
        <div class="flex flex-col items-center justify-center p-8 gap-6 md:gap-8 lg:gap-10">
            <h2 class="text-white text-3xl md:text-4xl lg:text-6xl xl:text-7xl font-extrabold leading-snug md:leading-tight text-center px-4">
                BLOG/PORTFOLIO PERSONAL
            </h2>
            <button class="bg-buttons text-white text-lg font-medium tracking-wider py-4 px-6 md:py-4 md:px-12 rounded-lg shadow-md hover:bg-opacity-80 transition">
                SOLICITAR COTIZACIÓN
            </button>
        </div>

        <!-- Contenido -->
        <div class="p-8 flex items-center justify-center">
            <div class="bg-pink-200 rounded-4xl overflow-hidden shadow-md w-[35rem] h-[15rem] md:h-[30rem]">
                <div class="bg-white p-4 text-black text-xl font-semibold text-center">Características</div>
                <div class="p-8 text-center"></div>
            </div>
        </div>
    </article>
</section>