---

---

<section
    class="w-full min-h-screen flex items-center justify-center contacto mb-16 md:mb-0"
>
    <article
        class="w-[90%] min-h-[80%] grid grid-cols-1 md:grid-cols-2 bg-fourth rounded-4xl overflow-hidden shadow-xl"
    >
        <!-- Titulo -->
        <div
            class="flex flex-col items-center justify-center p-8 gap-6 md:gap-8 lg:gap-10"
        >
            <h2
                class="text-white text-3xl md:text-4xl lg:text-6xl xl:text-7xl font-extrabold leading-snug md:leading-tight text-center px-4"
            >
                SITIO WEB CORPORATIVO
            </h2>
            <button
                class="bg-buttons text-white text-lg font-medium tracking-wider py-4 px-6 md:py-4 md:px-12 rounded-lg shadow-md hover:bg-opacity-80 transition"
            >
                SOLICITAR COTIZACIÓN
            </button>
        </div>

        <!-- Contenedor de ambas cards -->
        <div class="flex flex-col items-center justify-center p-2 md:p-8 gap-8">
            <!-- Card 1 -->
            <div
                class="bg-purple-200 rounded-4xl overflow-hidden shadow-md w-full max-w-[35rem] h-[15rem]"
            >
                <div
                    class="bg-white p-4 text-black text-2xl md:text-4xl font-bold text-center"
                >
                    Sitio Corporativo Básico
                </div>
                <div
                    class="p-2 md:p-4 text-center text-white font-medium text-xl md:text-2xl"
                >
                    <span class="font-bold">OBJETIVO:</span>
                    <br />
                    Informar sobre la empresa, su equipo y servicios, fortaleciendo
                    la credibilidad.
                </div>
            </div>

            <!-- Card 2 -->
            <div
                class="bg-purple-200 rounded-4xl overflow-hidden shadow-md w-full max-w-[35rem] h-[15rem]"
            >
                <div
                    class="bg-white p-4 text-black text-2xl md:text-4xl font-bold text-center"
                >
                    Sitio Corporativo Avanzado
                </div>
                <div
                    class="p-2 md:p-4 text-center text-white font-medium text-xl md:text-2xl"
                >
                    <span class="font-bold">OBJETIVO:</span>
                    <br />
                    Facilitar procesos internos (reservas o área privada para clientes)
                    y mejorar la experiencia del usuario.
                </div>
            </div>
        </div>
    </article>
</section>
