---

---

<section class="max-w-5xl w-screen mx-auto h-[400px] bg-white shadow-lg rounded-3xl p-6 flex flex-col md:flex-row items-stretch gap-6 mt-16 mb-16">
    <!-- Secci칩n Izquierda -->
    <article class="flex-1 flex flex-col justify-center items-center text-center p-6">
        <h2 class="text-5xl font-bold">Tienda E-Commerce</h2>
        <button class="mt-8 px-6 py-2 bg-primary text-white rounded-lg">
            Solicitar cotizaci칩n
        </button>
    </article>

    <!-- Secci칩n Derecha -->
    <article class="flex-none w-[40%] flex flex-col justify-between items-center text-center bg-background_secondary p-4 mr-8 rounded-2xl"
            style="box-shadow: 3px 3px black;">
        <p class="text-gray-700">Texto aaaaaaaaaaaaa</p>
        <button class="px-5 py-1.5 bg-white rounded-3xl text-sm md:text-base">
            Ver m치s
        </button>
    </article>
</section>