---

---


<section class="max-w-5xl w-[95%] mx-auto h-auto md:h-[400px] bg-white shadow-lg rounded-3xl px-4 md:px-6 py-3 md:py-6 mt-8 sm:mt-4 flex flex-col md:flex-row items-stretch gap-4 md:gap-6">
    <!-- Secci칩n Izquierda -->
    <article class="flex-1 flex flex-col justify-center items-center text-center p-4 md:p-6">
        <h2 class="text-4xl md:text-5xl font-bold">
          <span class="block">Tienda Online</span>
          <span class="block">E-Commerce</span>
        </h2>
        <button class="mt-4 md:mt-8 px-6 py-3 bg-primary text-white rounded-lg text-base">
            Solicitar cotizaci칩n
        </button>
    </article>

    <!-- Secci칩n Derecha -->
    <article class="w-full md:w-[40%] h-[400px] sm:h-auto flex flex-col justify-between items-center text-center bg-background_secondary p-6 md:p-4 md:mr-8 rounded-2xl space-y-4"
            style="box-shadow: 3px 3px black;">
        <p class="text-gray-700 text-sm md:text-base">Texto aaaaaaaaaaaaaa</p>
        <button class="px-6 md:px-5 py-2 md:py-1.5 bg-white rounded-3xl text-sm md:text-base shadow-md md:shadow-none hover:bg-white/75 transition-all">
            Ver m치s
        </button>
    </article>
</section>