---

---

<section class="w-screen max-w-5xl h-40 flex flex-col items-center justify-center mt-16 text-center px-2">
    <h2 class="font-extrabold text-3xl md:text-4xl leading-snug">
        Hoy más que nunca,<br class="sm:hidden"> tener una web <br class="sm:hidden">es clave.
    </h2>
    <p class="font-bold text-xl md:text-2xl mt-2">
        Elegí la opción ideal para vos.
    </p>
</section>