---

---

<section class="w-screen max-w-5xl h-40 flex flex-col items-center justify-center mt-8 text-center">
    <h2 class="font-extrabold text-4xl leading-snug">
        Hoy más que nunca, tener una web es clave.
    </h2>
    <p class="font-bold text-2xl mt-2">
        Elegí la opción ideal para vos.
    </p>
</section>