---

---

<section class="w-full h-40 flex items-center justify-center contacto">
    <h2 class="font-extrabold text-lg md:text-4xl xl:text-6xl text-center p-16 mt-40">Hoy más que nunca, tener una web es clave. Elegí la opción ideal para vos.</h2>
</section>
