---

---

<section class="pt-22 grid items-center justify-center p-8 min-h-screen">
    <!-- Título y texto centrados -->
    <div class="max-w-3xl mx-auto space-y-6 text-center">
        <h2 class="text-5xl sm:text-6xl font-bold">Nuestros proyectos</h2>
        <p class="text-xl sm:text-2xl">
            Desde proyectos a medida hasta plantillas versátiles para tu
            negocio.
        </p>
    </div>

    <!-- Imágenes en línea -->
    <div class="flex flex-wrap justify-center gap-8 mt-12">
        <article
            class="bg-white rounded-2xl shadow-lg p-4 w-64 sm:w-80 flex flex-col border-2 border-black transition-all duration-300 hover:scale-102"
        >
            <a href="https://ross-suspension.com.ar/" target="_blank">
                <img
                    src="/home/hero/hero-3.webp"
                    alt="Imagen 1"
                    class="w-full h-48 sm:h-60 object-cover rounded-xl border border-black mb-4"
                />
                <p class="text-sm">
                    Taller mecanico - Fabrica de amortiguadores
                </p>
                <p class="text-sm mt-2">Sitio web corporativo</p>
            </a>
        </article>

        <article
            class="bg-white rounded-2xl shadow-lg p-4 w-64 sm:w-80 flex flex-col border-2 border-black transition-all duration-300 hover:scale-102"
        >
            <img
                src="/home/hero/hero-2.webp"
                alt="Imagen 1"
                class="w-full h-48 sm:h-60 object-cover rounded-xl border border-black mb-4"
            />
            <p class="text-sm">Pizzeria - Menú virtual</p>
            <p class="text-sm mt-2">Tienda E-commerce</p>
        </article>

        <a href="https://template-gauchito.vercel.app/" target="_blank">
            <article
                class="bg-white rounded-2xl shadow-lg p-4 w-64 sm:w-80 flex flex-col border-2 border-black transition-all duration-300 hover:scale-102"
            >
                <img
                    src="/home/hero/hero-1.webp"
                    alt="Imagen 1"
                    class="w-full h-48 sm:h-60 object-cover rounded-xl border border-black mb-4"
                />
                <p class="text-sm">Emprendimiento de Mates</p>
                <p class="text-sm mt-2">Tienda E-Commerce</p>
            </article>
        </a>
    </div>
</section>
