---

---

<section class="pt-22 grid items-center justify-center p-8">
    <div class="max-w-3xl mx-auto space-y-6 text-center">
        <h2 class="text-5xl sm:text-6xl font-bold">Nuestros proyectos</h2>
        <p class="text-xl sm:text-2xl">
            Desde proyectos a medida hasta plantillas versátiles para tu
            negocio.
        </p>
    </div>
</section>
