@import 'tailwindcss';

@theme {
  --color-primary: #cd99ff;
  --color-background: #c5eaf0;
}

html {
  font-family: sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  width: 100%;
  height: 100%;
}