@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap'); /* Para textos */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); /* Para botone */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); /* Para titulos */
@import 'tailwindcss';

@theme {
  --color-primary: #17805e;
  --color-secondary: #BFC8FB;
  --color-tertiary: #FAD9FE;
  --color-background: #6BB4E8;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  width: 100%;
  height: 100%;
}

* {
  cursor: none;
}

body {
  position: relative;
  font-family: 'Inter Tight', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bricolage Grotesque', sans-serif;
}

button {
  font-family: 'Inter', sans-serif;
}

.custom-cursor {
  position: fixed;
  width: 16px;
  height: 16px;
  background-color: var(--color-primary);
  border-radius: 50%;
  border: solid 1px black;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: transform 0.1s cubic-bezier(0.22, 0.61, 0.36, 1),
  width 0.3s ease,
  height 0.3s ease,
  border-radius 0.3s ease,
  background-color 0.3s ease;
}

/* Puntero de texto (I-beam) */
.custom-cursor.-text {
  width: 4px;
  height: 20px;
  border-radius: 1px;
  background-color: var(--color-primary);
}

/* Puntero de pointer (hand) */
.custom-cursor.-pointer {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--color-primary);
  transform: translate(-50%, -50%) scale(1.1);
}

@media (max-width: 768px) {
  .custom-cursor {
    display: none !important;
  }

  * {
    cursor: auto;
  }
}