@import 'tailwindcss';

@theme {
  --color-primary: #ffd93b;
  --color-secondary: #7454d9;
  --color-buttons: #292929
}

html {
  font-family: system-ui, sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  width: 100%;
  height: 100%;
}

main>* {
  min-height: 100vh;
  scroll-snap-align: start;
}

main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

@media (min-width: 768px) {
  /* Firefox: define un scroll más delgado y colores personalizados */
  .mostly-customized-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary, #3490dc) #f1f1f1;
  }

  /* Webkit browsers */
  .mostly-customized-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 8px;
  }

  /* Pista (track) del scrollbar */
  .mostly-customized-scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 50px;
  }

  /* Pulgar (thumb) del scrollbar */
  .mostly-customized-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-primary, #3490dc);
    border-radius: 50px;
    border: 2px solid #f1f1f1;
  }
}
