/* Asegura una transición suave y establece el centro de transformación */
#mobile-menu-button span {
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform-origin: center;
}

/* Transforma las líneas para crear una X normal */
#mobile-menu-button.open span:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

#mobile-menu-button.open span:nth-child(2) {
  opacity: 0;
}

#mobile-menu-button.open span:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

/* Transiciones para el menú móvil */
.menu-hidden {
  display: none;
}

#mobile-menu {
  display: block;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#mobile-menu.menu-visible {
  opacity: 1;
  transform: translateY(0);
}

#mobile-menu.menu-leave {
  opacity: 0;
  transform: translateY(-10px);
}
