---
---
<section id="inicio" class="bg-primary">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
    <div class="aspect-video bg-gray-200 rounded-lg overflow-hidden" data-aos="zoom-in-right">
      <img 
        src="https://via.placeholder.com/600x400" 
        alt="Foto referencia" 
        class="w-full h-full object-cover transform hover:scale-105 transition-transform duration-600"
      />
    </div>
    <div data-aos="fade-left" data-aos-delay="150">
      <h1 class="text-4xl lg:text-6xl font-bold text-secondary relative">
          TÍTULO PRINCIPAL
      </h1>
    </div>
  </div>
</section>