---
import '../../styles/section.css'
---

<section
    id="section"
    class="relative w-full min-h-[80vh] md:min-h-screen overflow-hidden px-4"
>
    <article class="absolute inset-0 flex items-center justify-center py-8">
        <h2
            class="text-black text-5xl sm:text-5xl md:text-7xl lg:text-8xl xl:text-9xl font-bold text-center opacity-0 leading-tight md:leading-normal"
            id="section-title"
        >
            DISEÑO ÚNICO <br class="hidden sm:block" />
            SIN SUSCRIPCIONES <br class="hidden sm:block" />
            100% TUYA
        </h2>
    </article>
</section>

<script>
    const sectionSection = document.getElementById("section");
    const sectionTitle = document.getElementById("section-title");

    if (sectionSection && sectionTitle) {
        const observer = new IntersectionObserver(
            (entries) => {
                entries.forEach((entry) => {
                    if (entry.isIntersecting) {
                        // Si entra, inicia la animación
                        sectionTitle.classList.remove("opacity-0");
                        sectionTitle.classList.add("animate-fade-up");
                    } else {
                        // Si se va, se oculta lentamente
                        sectionTitle.classList.add("opacity-0");
                        sectionTitle.classList.remove("animate-fade-up");
                    }
                });
            },
            { threshold: 0.3 },
        ); // Detecta cuando al menos el 30% del contenido está visible

        observer.observe(sectionSection);
    }
</script>
