---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/common/Header.astro";
import Hero from "../components/sections/contact/Hero.astro";
import WspEmail from "../components/sections/contact/Wsp-Email.astro";
import Form from '../components/sections/contact/Form.astro'
---

<Layout>
  <Header />
  <main>
    <Hero />
    <WspEmail />
    <Form />
  </main>
</Layout>
