---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/contact/Hero.astro";
import WspEmail from "../components/sections/contact/Wsp-Email.astro";
import Contacto from "../components/common/Contacto.astro";
---

<Layout>
  <main>
    <Hero />
    <WspEmail />
    <Contacto />
  </main>
</Layout>
