---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/common/Navigation.astro";
import Hero from "../components/sections/contact/Hero.astro";
import Form from '../components/sections/contact/Form.astro'
---

<Layout>
  <Navigation />
  <main id="main-container">
    <Hero />
    <Form />
  </main>
</Layout>
