---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/common/Header.astro";
import Hero from "../components/sections/home/Hero.astro";
import Slider from "../components/sections/home/Slider.astro";
import Porque from "../components/sections/home/Porque.astro";
import Beneficios from "../components/sections/home/Beneficios.astro";
import Stickers from "../components/sections/home/Stickers.astro";
import Paginas from "../components/sections/home/Paginas.astro";
import Contacto from "../components/sections/home/Contacto.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Slider />
    <Porque />
    <Beneficios />
    <Stickers />
  </main>
</Layout>