---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import Benefits from '../components/Benefits.astro';
import Process from '../components/Process.astro';
import PageTypes from '../components/PageTypes.astro';
import Ready from '../components/Ready.astro';
---

<Layout>
  <div class="min-h-screen bg-gray-50">
    <Navigation />
    <main class="pt-16">
      <Hero />
      <Benefits />
      <Process />
      <PageTypes />
      <Ready />
    </main>
  </div>
</Layout>