---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/common/Navigation.astro";
import Hero from "../components/sections/home/Hero.astro";
import Section from "../components/sections/home/Section.astro";
import Nosotros from "../components/sections/home/Nosotros.astro";
import Paginas from "../components/sections/home/Paginas.astro";
import Beneficios from "../components/sections/home/Beneficios.astro";
import Contacto from "../components/sections/home/Contacto.astro";
---

<Layout>
  <Navigation />
  <main>
    <Hero />
    <Section />
    <Nosotros />
    <Paginas />
    <Beneficios />
    <Contacto />
  </main>
</Layout>