---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/home/Hero.astro";
import Slider from "../components/sections/home/Slider.astro";
import Porque from "../components/sections/home/Porque.astro";
import Beneficios from "../components/sections/home/Beneficios.astro";
import Stickers from "../components/sections/home/Stickers.astro";
import Paginas from "../components/sections/home/Paginas.astro";
import Form from "../components/common/Form.astro";
---

<Layout>
  <main>
    <Hero />
    <Slider />
    <Porque />
    <Beneficios />
    <Stickers />
    <Paginas />
    <Slider />
    <Form />
  </main>
</Layout>