---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/home/Hero.astro";
import Services from "../components/sections/home/Services.astro";
import Works from "../components/sections/home/Works.astro";
import Steps from "../components/sections/home/Steps.astro";
import Pages from "../components/sections/home/Pages.astro";
import Form from "../components/common/Form.astro";
---

<Layout>
  <main>
    <Hero />
    <Services />
    <Works />
    <Steps />
    <Pages />
    <Form />
  </main>
</Layout>