---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/portfolio/Hero.astro";
import Form from "../components/common/Form.astro";
---

<Layout>
    <main> 
        <Hero />
        <Form />
    </main>
</Layout>