---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/servicios/Hero.astro";
import Landing from "../components/sections/servicios/tipo/Landing.astro";
import Ecommerce from "../components/sections/servicios/tipo/Ecommerce.astro";
import Corporativo from "../components/sections/servicios/tipo/Corporativo.astro";
import Blog from "../components/sections/servicios/tipo/Blog.astro";
---

<Layout>
    <main>
        <Hero />
        <Landing />
        <Ecommerce />
        <Corporativo />
        <Blog />
    </main>
</Layout>