---

---

<section class="w-screen max-w-5xl h-40 flex flex-col items-center justify-center text-center mt-16 md:mt-8">
  <h2 class="font-extrabold text-4xl leading-snug">
      ¿Y si nos contas tu idea?
  </h2>
</section>
