---
---

<section class="flex items-center justify-center pt-22">
  <!-- Columna izquierda -->
  <div class="text-center">
    <h2 class="text-4xl sm:text-6xl font-extrabold">
      ¿Y si nos contas tu idea?
    </h2>
</section>
