---
import { createWhatsappUrl, WHATSAPP_NUMBER } from '../../../constants/contact';

const whatsappMessage = "Hola, estoy interesado en obtener más información sobre una Landding Page. ¿Podrían brindarme más información? ¡Gracias!";
const whatsappUrl = createWhatsappUrl(whatsappMessage);
---

<section class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-12 px-8 max-w-6xl mx-auto">
    <!-- Card de WhatsApp -->
    <article
        class="xs:h-[200px] bg-white p-6 shadow-lg rounded-3xl relative flex flex-col items-center"
        style="box-shadow: 2px 2px black;"
    >
        <div class="flex-1 flex flex-col items-center justify-center">
            <h3 class="text-2xl font-bold mb-2">Contactar por WhatsApp</h3>
            <p class="text-gray-600 text-xl">Respuesta inmediata</p>
            <p class="text-gray-500 text-lg mb-2">+{WHATSAPP_NUMBER}</p>
        </div>

        <div class="mt-auto flex justify-center">
            <a 
                href={createWhatsappUrl(whatsappMessage)}
                target="_blank" 
                class="group"
            >
                <button class="bg-primary text-white px-6 py-2 rounded-full hover:scale-105 transition-all duration-300">
                    Enviar mensaje
                </button>
            </a>
        </div>
    </article>

    <!-- Card de Email -->
    <article
        class="xs:h-[200px] bg-white p-6 shadow-lg rounded-3xl relative flex flex-col items-center"
        style="box-shadow: 2px 2px black;"
    >
        <div class="flex-1 flex flex-col items-center justify-center">
            <h3 class="text-2xl font-bold mb-2">Enviar correo electrónico</h3>
            <p class="text-gray-600 text-xl">Soporte profesional</p>
            <p class="text-gray-500 text-lg mb-2">suaweb.info@gmail.com</p>
        </div>

        <div class="mt-auto flex justify-center">
            <a href="mailto:suaweb.info@gmail.com" class="group">
                <button class="bg-primary text-white px-6 py-2 rounded-full hover:scale-105 transition-all duration-300">
                    Enviar email
                </button>
            </a>
        </div>
    </article>
</section>
