---

---

<section class="relative max-w-4xl w-full mx-auto">
  <img
    src="/home/2.webp"
    alt=""
    class="absolute top-4 -right-60 w-24 md:w-42 opacity-20 z-0"
    aria-hidden="true"
  />
  
  <img
    src="/home/3.webp"
    alt=""
    class="absolute top-16 -left-50 w-24 md:w-42 opacity-20 z-0"
    aria-hidden="true"
  />
  
  <div class="grid grid-cols-5 grid-rows-4 gap-4 max-w-4xl w-full h-[350px]">
    <!-- Elementos del grid con sombra sólida negra -->
    <div class="col-span-2 row-span-2 p-4 rounded-lg flex items-center justify-center">1</div>
    <div class="row-span-2 col-start-3 bg-white p-4 rounded-3xl flex items-center justify-center shadow-[8px_8px_0px_#d9d9d9] aspect-square">2</div>
    <div class="row-span-2 col-start-4 bg-white p-4 rounded-3xl flex items-center justify-center shadow-[8px_8px_0px_#d9d9d9] aspect-square">3</div>
    <div class="row-span-2 col-start-5 bg-white p-4 rounded-3xl flex items-center justify-center shadow-[8px_8px_0px_#d9d9d9] aspect-square">4</div>
    <div class="col-span-2 row-span-2 row-start-3 bg-white p-4 rounded-3xl flex items-center justify-center">5</div>
    <div class="row-span-2 col-start-3 row-start-3 bg-white p-4 rounded-3xl flex items-center justify-center shadow-[8px_8px_0px_#d9d9d9] aspect-square">6</div>
    <div class="row-span-2 col-start-4 row-start-3 bg-white p-4 rounded-3xl flex items-center justify-center shadow-[8px_8px_0px_#d9d9d9] aspect-square">7</div>
    <div class="row-span-2 col-start-5 row-start-3 bg-white p-4 rounded-3xl flex items-center justify-center shadow-[8px_8px_0px_#d9d9d9] aspect-square">8</div>
</div>

</section>
