---
---

<section class="w-full max-w-4xl mx-auto mt-16 mb-25">
    <h2 class="text-6xl font-extrabold text-center mb-8">¿Trabajamos Juntos?</h2>

    <section class="flex flex-col md:flex-row justify-between items-center bg-background_secondary w-full h-auto md:h-[65vh] p-8 border-2 rounded-2xl relative">
        <!-- Imagen en la esquina superior izquierda -->
        <img src="/home/image_4.webp" alt="Icono" class="absolute top-4 left-4 w-24 h-24">

        <!-- Formulario -->
        <form action="" class="relative w-full md:w-1/2 flex flex-col gap-4 pr-6 mt-32">
            <label class="font-semibold">
                Nombre
                <input type="text" placeholder="Tu nombre" class="w-full p-3 bg-white rounded-2xl">
            </label>

            <label class="font-semibold">
                Correo electrónico
                <input type="email" placeholder="Tu correo" class="w-full p-3 bg-white rounded-2xl">
            </label>

            <label class="font-semibold">
                Elije un paquete
                <select class="w-full p-3 bg-white rounded-2xl">
                    <option value="" disabled selected>¿Qué tipo de página buscas?</option>
                    <option value="basico">Blog / Portfolio</option>
                    <option value="intermedio">Landing Page</option>
                    <option value="premium">Sitio web corporativo</option>
                    <option value="premium">E-commerce (Tienda Online)</option>
                </select>
            </label>

            <!-- Botón de enviar -->
            <button type="submit" class="w-full mt-8 bg-white font-bold py-3 rounded-xl">
                Enviar
            </button>
        </form>

        <!-- Área de texto grande -->
        <div class="w-full md:w-1/2 mt-6 md:mt-0 pl-6 flex flex-col h-full border-l-2">
            <label class="font-semibold w-full flex-1">
                Cuéntanos de tu proyecto
                <textarea placeholder="Escribe sobre él aquí..." class="w-full p-3 rounded-xl h-[calc(100%-1rem)] resize-none bg-white"></textarea>
            </label>
        </div>
    </section>
</section>
