---

---

<section
    class="flex flex-col items-center justify-center text-center px-6 py-8 space-y-6"
>
    <h1 class="text-7xl font-extrabold mb-4">Tu negocio, tu web</h1>
    <div class="text-2xl mb-8">
        <p>Diseño y programación de páginas web,</p>
        <p>la presencia online que tu negocio necesita.</p>
    </div>
        <button
        class="bg-primary hover:bg-primary/50 transition-colors uppercase text-white font-semibold rounded-full px-6 py-3 shadow-lg shadow-black/50"
    >
        Comunicate con nosotros
    </button>
</section>
