---

---

<section id="nosotros" class="w-full h-screen flex items-center justify-center">
  <article class="w-[90%] h-[80%] flex flex-col md:flex-row bg-secondary rounded-4xl overflow-hidden">
    <!-- Imagen -->
    <picture class="w-full md:w-1/2 h-1/2 md:h-full">
      <img
        src="home/about.webp"
        alt="Imagen sobre nosotros"
        class="w-full h-full object-cover object-center"
        loading="eager"
      />
    </picture>

    <!-- Contenido -->
    <article class="w-full md:w-1/2 h-1/2 md:h-full flex flex-col items-center p-8 text-center" id="section-title">
      <h2 class="text-black text-5xl md:text-6xl lg:text-7xl font-extrabold leading-tight md:leading-normal">
        ¿QUIÉNES SOMOS?
      </h2>
      <p class="text-2xl md:text-3xl text-muted mt-4">
        Descripción xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      </p>
    </article>
  </article>
</section>
