---

---

<section
    id="section"
    class="relative w-full min-h-[80vh] md:min-h-screen overflow-hidden px-4"
>
    <article class="absolute inset-0 flex items-center justify-center py-8">
        <h2
            class="text-black text-5xl sm:text-5xl md:text-7xl lg:text-8xl xl:text-9xl font-extrabold text-center leading-tight md:leading-normal"
            id="section-title"
        >
            DISEÑO ÚNICO <br class="hidden sm:block" />
            SIN SUSCRIPCIONES <br class="hidden sm:block" />
            100% TUYA
        </h2>
    </article>
</section>
