---
import { Zap, Palette, Users } from "@lucide/astro";
---

<section class="px-8 mt-12 md:mt-22 flex flex-col items-center justify-end">
  <h2 class="text-6xl mb-6 md:mb-12">Servicios</h2>

  <div
    class="grid grid-cols-1 md:grid-cols-3 gap-3 md:gap-6 items-end w-full max-w-6xl h-80"
  >
    <div
    class="flex flex-col items-center bg-white shadow-lg rounded-2xl h-[90%] mt-8 p-4 lg:p-6 text-center"
  >
    <span
    class="bg-primary rounded-full w-12 xl:w-16 h-12 xl:h-16 flex items-center justify-center"
    ><Zap class="w-8 xl:w-10 h-8 xl:h-10 text-white" /></span
    >
    <h3 class="text-2xl lg:text-3xl font-semibold mt-6">Diseño express</h3>
    <p class="text-lg lg:text-xl mt-4 xl:mt-8 px-4">
      Soluciones rápidas con plantillas propias y proceso claro de principio a
      fin.    </p>
  </div>

    <div
      class="flex flex-col items-center bg-white shadow-lg rounded-2xl h-[90%] scale-105 md:scale-100 md:h-[100%] mt-8 p-4 lg:p-6 text-center"
    >
      <span
      class="bg-primary rounded-full w-12 xl:w-16 h-12 xl:h-16 flex items-center justify-center"
      ><Palette class="w-8 xl:w-10 h-8 xl:h-10 text-white" /></span
      >
      <h3 class="text-2xl lg:text-3xl font-semibold mt-6">Diseño web a medida</h3>
      <p class="text-lg lg:text-xl mt-4 xl:mt-8 px-4">
        Sitios únicos que reflejan tu esencia y destacan entre la multitud.
      </p>
    </div>

    <div
      class="flex flex-col items-center bg-white shadow-lg rounded-2xl h-[90%] mt-8 p-4 lg:p-6 text-center"
    >
      <span
        class="bg-primary rounded-full w-12 xl:w-16 h-12 xl:h-16 flex items-center justify-center"
        ><Users class="w-8 xl:w-10 h-8 xl:h-10 text-white" /></span
      >
      <h3 class="text-2xl lg:text-3xl font-semibold mt-6">Independencia total</h3>
      <p class="text-lg lg:text-xl mt-4 xl:mt-8 px-4">
        Tu web es tuya. Control completo sobre tu presencia digital.
      </p>
    </div>
  </div>
</section>
