---

---

<section class="relative w-screen min-h-[50vh] bg-background_secondary mt-32 overflow-hidden">
    <div class="absolute inset-0">
        <!--21 imagenes distinas, distribuidas "al azar" sin que salgan de la pantalla -->
    </div>
</section>
