---
import StickersPc from "./stickers/StickersPc.astro";
import StickersMobile from "./stickers/StickersMobile.astro"
---
<section class="mb-[150px]">
    <StickersPc />
    <StickersMobile />
</section>
