---
const whatsappUrl = "https://wa.me/1234567890";
---

<div class="landing-component p-8" id="landing">
    <section
      class="max-w-5xl w-[95%] mx-auto h-auto lg:h-[400px] border bg-white shadow-lg rounded-2xl px-4 lg:px-6 py-3 lg:py-6 mt-4 flex flex-col lg:flex-row items-stretch gap-4 lg:gap-6"
      id="landing"
    >
      <!-- Sección Izquierda -->
      <article class="flex-1 flex flex-col justify-center items-center text-center p-4 lg:p-6">
        <h2 class="text-4xl lg:text-5xl font-bold mb-4">Landing Page</h2>
        <p class="text-lg">
          Capta la atención desde el primer clic con una landing page enfocada en
          convertir, ideal para campañas, lanzamientos o promociones.
        </p>
        
        <!-- Bloque de precio y botón -->
        <div class="hidden lg:flex items-center justify-center gap-4 mt-4 lg:mt-8">
          <p class="text-lg font-bold">Desde $250.000</p>
          <a
            href={whatsappUrl}
            target="_blank"
            rel="noopener noreferrer"
            class="px-4 py-2 bg-primary text-white rounded-full text-base hover:scale-105 transition-all duration-300"
          >
            Solicitar cotización
          </a>
        </div>
      </article>
      
      <!-- Sección Derecha con información técnica -->
      <article
        class="w-full lg:w-[40%]  sm:h-auto flex flex-col justify-between items-center text-center bg-black/10 p-6 lg:p-4 lg:mr-8 rounded-2xl space-y-4 group"
      >
        <!-- Contenido de características -->
        <div class="w-full flex flex-col flex-grow">
          <h3 class="text-3xl font-bold mb-2 lg:mb-4">Características</h3>
          <div class="text-gray-700 text-left  flex-grow" data-info="original">
            <ul class="list-none m-0 p-0">
              <li>| Se ve profesional en cualquier dispositivo</li>
              <li>| Atrae más clientes desde Google</li>
              <li>| Recibe consultas de clientes directo a tu email</li>
              <li>| Velocidad máxima para no perder visitas</li>
              <li>| Optimizado para convertir más visitantes en clientes</li>
              <li>| Protección total de datos y visitantes</li>
            </ul>
          </div>
        </div>
  
        <!-- Botón "Ver Tienda Demo" -->
        <button
          class="toggle-button px-6 lg:px-5 py-2 lg:py-1.5 mt-8 bg-white rounded-3xl text-sm lg:text-base shadow-lg lg:shadow-none hover:bg-primary hover:scale-105 transition-all duration-300"
          aria-expanded="false"
        >
          Ver Tienda Demo
        </button>
      </article>
      
      <!-- Bloque duplicado para mobile -->
      <div class="lg:hidden flex items-center justify-center gap-4 mt-4">
        <p class="text-lg font-bold">Desde $250.000</p>
        <a
        href={whatsappUrl}
        target="_blank"
        rel="noopener noreferrer"
        class="px-4 py-2 bg-primary text-white rounded-full text-base hover:scale-105 transition-all duration-300"
        >
        Solicitar cotización
      </a>
    </div>
  </section>
  </div>
  