---
import Clientes from "../../../../assets/svg/clientes.svg";
import Medida from "../../../../assets/svg/medida.svg";
import Gestion from "../../../../assets/svg/gestion.svg";
import Seo from "../../../../assets/svg/seo.svg";
import Soporte from "../../../../assets/svg/soporte.svg";
import Tec from "../../../../assets/svg/tec.svg";
import Cohete from "../../../../assets/svg/cohete.svg";
---

<link rel="stylesheet" href="/flip-cards.css" />

<section
  class="hidden md:block relative max-w-md sm:max-w-lg md:max-w-4xl xl:max-w-6xl w-full mx-auto px-4 sm:px-6 lg:px-8"
>
  <!-- Imágenes decorativas -->
  <img
    src="/home/2.webp"
    alt=""
    class="absolute -top-20 sm:-top-10 right-0 sm:-right-10 md:-right-28 lg:-right-36 xl:-right-40 w-20 sm:w-28 md:w-36 lg:w-40 opacity-20 z-0 pointer-events-none"
    aria-hidden="true"
    loading="lazy"
    decoding="async"
    width="168"
    height="168"
  />
  <img
    src="/home/3.webp"
    alt=""
    class="absolute -bottom-20 sm:-bottom-10 left-0 sm:-left-10 md:-left-28 lg:-left-36 xl:-left-40 w-20 sm:w-28 md:w-36 lg:w-40 opacity-20 z-0 pointer-events-none"
    aria-hidden="true"
    loading="lazy"
    decoding="async"
    width="168"
    height="168"
  />

  <!-- Grid Container (PC) -->
  <div
    class="grid grid-cols-3 md:grid-cols-5 grid-rows-3 md:grid-rows-4 gap-2 sm:gap-3 md:gap-4 min-h-[300px] sm:min-h-[400px] md:h-[480px] text-center"
  >
    <!-- Card 1 -->
    <div
      class="col-span-3 md:col-span-2 row-span-1 md:row-span-2 p-2 sm:p-3 md:p-4 rounded-lg md:rounded-xl flex items-center justify-center text-2xl sm:text-3xl font-extrabold"
    >
      Potencia tu negocio con una web propia!
    </div>

    <!-- Card 2 -->
    <div
      class="row-span-1 md:row-span-2 col-start-1 md:col-start-3 row-start-2 p-1 rounded-2xl md:rounded-3xl group relative h-full w-full"
    >
      <div class="flip-container w-full h-full">
        <div
          class="front relative flex items-center justify-center bg-white shadow-[4px_4px_0px_#d9d9d9]
              sm:shadow-[6px_6px_0px_#d9d9d9] md:shadow-[8px_8px_0px_#d9d9d9] rounded-2xl md:rounded-3xl
              p-2 sm:p-3 md:p-4 text-lg sm:text-xl md:text-2xl"
        >
          Más clientes
          <span
            class="absolute w-8 h-8 flex items-center justify-center top-3 right-3 bg-primary rounded-full text-3xl"
            >+
          </span>
          <span class="absolute bottom-3 right-3">
            <Clientes />
          </span>
        </div>
        <div
          class="back flex items-center justify-center bg-white shadow-[4px_4px_0px_#d9d9d9]
              sm:shadow-[6px_6px_0px_#d9d9d9] md:shadow-[8px_8px_0px_#d9d9d9] rounded-2xl md:rounded-3xl
              p-2 sm:p-3 md:p-4 text-sm sm:text-base md:text-lg"
        >
          Expande tu mercado y llega a nuevos públicos.
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div
      class="row-span-1 md:row-span-2 col-start-2 md:col-start-4 row-start-2 p-1 rounded-2xl md:rounded-3xl group relative h-full w-full"
    >
      <div class="flip-container w-full h-full">
        <div
          class="front flex items-center justify-center bg-white shadow-[4px_4px_0px_#d9d9d9] sm:shadow-[6px_6px_0px_#d9d9d9] md:shadow-[8px_8px_0px_#d9d9d9] rounded-2xl md:rounded-3xl p-2 sm:p-3 md:p-4 text-lg sm:text-xl md:text-2xl"
        >
          Diseño a medida
          <span
            class="absolute w-8 h-8 flex items-center justify-center top-3 right-3 bg-primary rounded-full text-3xl"
            >+
          </span>
          <span class="absolute bottom-3 right-3">
            <Medida />
          </span>
        </div>
        <div
          class="back flex items-center justify-center bg-white shadow-[4px_4px_0px_#d9d9d9] sm:shadow-[6px_6px_0px_#d9d9d9] md:shadow-[8px_8px_0px_#d9d9d9] rounded-2xl md:rounded-3xl p-2 sm:p-3 md:p-4 text-sm sm:text-base md:text-lg"
        >
          Adaptamos el estilo a la identidad de tu marca.
        </div>
      </div>
    </div>

    <!-- Card 4 -->
    <div
      class="row-span-1 md:row-span-2 col-start-3 md:col-start-5 row-start-2 p-1 rounded-2xl md:rounded-3xl group relative h-full w-full"
    >
      <div class="flip-container w-full h-full">
        <div
          class="front flex items-center justify-center bg-white shadow-[4px_4px_0px_#d9d9d9] sm:shadow-[6px_6px_0px_#d9d9d9] md:shadow-[8px_8px_0px_#d9d9d9] rounded-2xl md:rounded-3xl p-2 sm:p-3 md:p-4 text-lg sm:text-xl md:text-2xl"
        >
          Gestión sencilla
          <span
            class="absolute w-8 h-8 flex items-center justify-center top-3 right-3 bg-primary rounded-full text-3xl"
            >+
          </span>
          <span class="absolute bottom-3 right-3">
            <Gestion />
          </span>
        </div>
        <div
          class="back flex items-center justify-center bg-white shadow-[4px_4px_0px_#d9d9d9] sm:shadow-[6px_6px_0px_#d9d9d9] md:shadow-[8px_8px_0px_#d9d9d9] rounded-2xl md:rounded-3xl p-2 sm:p-3 md:p-4 text-sm sm:text-base md:text-lg"
        >
          Administra tu contenido de forma fácil y rápida.
        </div>
      </div>
    </div>

    <!-- Card 5 -->
    <div
      class="col-span-1 md:col-span-2 row-span-1 md:row-span-2 row-start-3 bg-white p-4 rounded-3xl flex items-center justify-center text-lg sm:text-xl md:text-2xl shadow-lg relative"
    >
      <span>Web en línea las 24/7</span>
      <span class="absolute bottom-6 right-3">
        <Cohete />
      </span>
    </div>

    <!-- Card 6 -->
    <div
      class="col-span-1 row-span-1 md:row-span-2 row-start-3 md:col-start-3 p-1 rounded-2xl md:rounded-3xl group relative h-full w-full"
    >
      <div class="flip-container w-full h-full">
        <div
          class="front flex items-center justify-center bg-white shadow-[4px_4px_0px_#d9d9d9] sm:shadow-[6px_6px_0px_#d9d9d9] md:shadow-[8px_8px_0px_#d9d9d9] rounded-2xl md:rounded-3xl p-2 sm:p-3 md:p-4 text-lg sm:text-xl md:text-2xl"
        >
          SEO optimizado
          <span
            class="absolute w-8 h-8 flex items-center justify-center top-3 right-3 bg-primary rounded-full text-3xl"
            >+
          </span>
          <span class="absolute bottom-3 right-3">
            <Seo />
          </span>
        </div>
        <div
          class="back flex items-center justify-center bg-white shadow-[4px_4px_0px_#d9d9d9] sm:shadow-[6px_6px_0px_#d9d9d9] md:shadow-[8px_8px_0px_#d9d9d9] rounded-2xl md:rounded-3xl p-2 sm:p-3 md:p-4 text-sm sm:text-base md:text-lg"
        >
          Mejora tu posicionamiento en Google.
        </div>
      </div>
    </div>

    <!-- Card 7 -->
    <div
      class="col-span-1 row-span-1 md:row-span-2 row-start-3 md:col-start-4 p-1 rounded-2xl md:rounded-3xl group relative h-full w-full"
    >
      <div class="flip-container w-full h-full">
        <div
          class="front flex items-center justify-center bg-white shadow-[4px_4px_0px_#d9d9d9] sm:shadow-[6px_6px_0px_#d9d9d9] md:shadow-[8px_8px_0px_#d9d9d9] rounded-2xl md:rounded-3xl p-2 sm:p-3 md:p-4 text-lg sm:text-xl md:text-2xl"
        >
          Soporte experto
        </div>
        <span
          class="absolute w-8 h-8 flex items-center justify-center top-3 right-3 bg-primary rounded-full text-3xl"
          >+
        </span>
        <span class="absolute bottom-3 right-3">
          <Soporte />
        </span>
        <div
          class="back flex items-center justify-center bg-white shadow-[4px_4px_0px_#d9d9d9] sm:shadow-[6px_6px_0px_#d9d9d9] md:shadow-[8px_8px_0px_#d9d9d9] rounded-2xl md:rounded-3xl p-2 sm:p-3 md:p-4 text-sm sm:text-base md:text-lg"
        >
          Te acompañamos en cada paso de tu proyecto.
        </div>
      </div>
    </div>

    <!-- Card 8 -->
    <div
      class="hidden md:block row-span-2 col-start-5 row-start-3 p-1 rounded-3xl group relative h-full w-full"
    >
      <div class="flip-container w-full h-full">
        <div
          class="front flex items-center justify-center bg-white shadow-[8px_8px_0px_#d9d9d9] rounded-3xl p-4 text-2xl"
        >
          Tecnología avanzada
          <span
            class="absolute w-8 h-8 flex items-center justify-center top-3 right-3 bg-primary rounded-full text-3xl"
            >+
          </span>
          <span class="absolute bottom-3 right-3">
            <Tec />
          </span>
        </div>
        <div
          class="back flex items-center justify-center bg-white shadow-[8px_8px_0px_#d9d9d9] rounded-3xl p-4 text-lg"
        >
          Utilizamos las últimas herramientas para potenciar tu negocio.
        </div>
      </div>
    </div>
  </div>
</section>
  