---
import Clientes from "../../../../assets/svg/clientes.svg";
import Medida from "../../../../assets/svg/medida.svg";
import Gestion from "../../../../assets/svg/gestion.svg";
import Seo from "../../../../assets/svg/seo.svg";
import Soporte from "../../../../assets/svg/soporte.svg";
import Tec from "../../../../assets/svg/tec.svg";
import Cohete from "../../../../assets/svg/cohete.svg";
---

<link rel="stylesheet" href="/src/styles/flip-cards.css" />

<section
    class="block md:hidden relative max-w-lg md:max-w-4xl xl:max-w-6xl w-full mx-auto px-4 sm:px-6 lg:px-8"
>
    <!-- Imágenes decorativas -->
    <img
        src="/home/2.webp"
        alt=""
        class="absolute -top-20 sm:-top-10 right-0 sm:-right-10 md:-right-28 lg:-right-36 xl:-right-40 w-20 sm:w-28 md:w-36 lg:w-40 opacity-20 z-0 pointer-events-none"
        aria-hidden="true"
        loading="lazy"
        decoding="async"
        width="168"
        height="168"
    />
    <img
        src="/home/3.webp"
        alt=""
        class="absolute -bottom-20 sm:-bottom-10 left-0 sm:-left-10 md:-left-28 lg:-left-36 xl:-left-40 w-20 sm:w-28 md:w-36 lg:w-40 opacity-20 z-0 pointer-events-none"
        aria-hidden="true"
        loading="lazy"
        decoding="async"
        width="168"
        height="168"
    />

    <!-- Grid Container modificado para mobile -->
    <div
        class="grid grid-cols-2 md:grid-cols-5 grid-rows-5 md:grid-rows-4 gap-2 sm:gap-3 md:gap-4 min-h-[800px]"
    >
        <!-- Card 1 -->
        <div
            class="col-span-2 md:col-span-2 row-span-1 md:row-span-2 p-2 sm:p-3 md:p-4 rounded-lg flex items-center justify-center text-3xl text-center font-extrabold"
        >
            Potencia tu negocio con una web propia!
        </div>

        <!-- Card 5 -->
        <div
            class="col-span-2 md:col-span-2 row-span-1 md:row-span-2 row-start-2 bg-white p-4 rounded-3xl flex items-center justify-center text-xl shadow-lg relative"
        >
            Web en línea las 24/7
            <span class="absolute bottom-3 right-auto">
                <Cohete />
            </span>
        </div>

        <!-- Card 2: Más clientes -->
        <div
            class="row-span-1 md:row-span-2 row-start-3 md:col-start-3 p-1 rounded-2xl md:rounded-3xl group relative h-full w-full"
        >
            <div class="flip-container w-full h-full">
                <div
                    class="front flex items-center justify-center bg-white shadow-[4px_4px_0px_#d9d9d9] sm:shadow-[6px_6px_0px_#d9d9d9] md:shadow-[8px_8px_0px_#d9d9d9] rounded-2xl md:rounded-3xl p-2 sm:p-3 md:p-4"
                >
                    Más clientes
                    <span
                        class="absolute w-6 h-6 flex items-center justify-center top-3 right-3 bg-primary rounded-full text-2xl"
                        >+
                    </span>
                    <span class="absolute bottom-3 right-3">
                        <Clientes width={28} />
                    </span>
                </div>
                <div
                    class="back flex items-center justify-center bg-white shadow-[4px_4px_0px_#d9d9d9] sm:shadow-[6px_6px_0px_#d9d9d9] md:shadow-[8px_8px_0px_#d9d9d9] rounded-2xl md:rounded-3xl p-2 sm:p-3 md:p-4"
                >
                    Expande tu mercado y llega a nuevos públicos.
                </div>
            </div>
        </div>

        <!-- Card 3: Diseño a medida -->
        <div
            class="row-span-1 md:row-span-2 row-start-3 md:col-start-4 col-start-2 p-1 rounded-2xl md:rounded-3xl group relative h-full w-full"
        >
            <div class="flip-container w-full h-full">
                <div
                    class="front flex items-center justify-center bg-white shadow-[4px_4px_0px_#d9d9d9] sm:shadow-[6px_6px_0px_#d9d9d9] md:shadow-[8px_8px_0px_#d9d9d9] rounded-2xl md:rounded-3xl p-2 sm:p-3 md:p-4 text-lg sm:text-xl md:text-2xl"
                >
                    Diseño a medida
                    <span
                        class="absolute w-6 h-6 flex items-center justify-center top-3 right-3 bg-primary rounded-full text-2xl"
                        >+
                    </span>
                    <span class="absolute bottom-3 right-3">
                        <Medida width={28} />
                    </span>
                </div>
                <div
                    class="back flex items-center justify-center bg-white shadow-[4px_4px_0px_#d9d9d9] sm:shadow-[6px_6px_0px_#d9d9d9] md:shadow-[8px_8px_0px_#d9d9d9] rounded-2xl md:rounded-3xl p-2 sm:p-3 md:p-4 text-sm sm:text-base md:text-lg"
                >
                    Adaptamos el estilo a la identidad de tu marca.
                </div>
            </div>
        </div>

        <!-- Card 4: Gestión sencilla -->
        <div
            class="row-span-1 md:row-span-2 row-start-4 md:col-start-5 p-1 rounded-2xl md:rounded-3xl group relative h-full w-full"
        >
            <div class="flip-container w-full h-full">
                <div
                    class="front flex items-center justify-center bg-white shadow-[4px_4px_0px_#d9d9d9] sm:shadow-[6px_6px_0px_#d9d9d9] md:shadow-[8px_8px_0px_#d9d9d9] rounded-2xl md:rounded-3xl p-2 sm:p-3 md:p-4 text-lg sm:text-xl md:text-2xl"
                >
                    Gestión sencilla
                    <span
                        class="absolute w-6 h-6 flex items-center justify-center top-3 right-3 bg-primary rounded-full text-2xl"
                        >+
                    </span>
                    <span class="absolute bottom-3 right-3">
                        <Gestion width={28} />
                    </span>
                </div>
                <div
                    class="back flex items-center justify-center bg-white shadow-[4px_4px_0px_#d9d9d9] sm:shadow-[6px_6px_0px_#d9d9d9] md:shadow-[8px_8px_0px_#d9d9d9] rounded-2xl md:rounded-3xl p-2 sm:p-3 md:p-4 text-sm sm:text-base md:text-lg"
                >
                    Administra tu contenido de forma fácil y rápida.
                </div>
            </div>
        </div>

        <!-- Card 6: SEO optimizado -->
        <div
            class="col-start-2 row-span-1 md:row-span-2 row-start-4 md:col-start-3 p-1 rounded-2xl md:rounded-3xl group relative h-full w-full"
        >
            <div class="flip-container w-full h-full">
                <div
                    class="front flex items-center justify-center bg-white shadow-[4px_4px_0px_#d9d9d9] sm:shadow-[6px_6px_0px_#d9d9d9] md:shadow-[8px_8px_0px_#d9d9d9] rounded-2xl md:rounded-3xl p-2 sm:p-3 md:p-4 text-lg sm:text-xl md:text-2xl"
                >
                    SEO optimizado
                    <span
                        class="absolute w-6 h-6 flex items-center justify-center top-3 right-3 bg-primary rounded-full text-2xl"
                        >+
                    </span>
                    <span class="absolute bottom-3 right-3">
                        <Seo width={28} />
                    </span>
                </div>
                <div
                    class="back flex items-center justify-center bg-white shadow-[4px_4px_0px_#d9d9d9] sm:shadow-[6px_6px_0px_#d9d9d9] md:shadow-[8px_8px_0px_#d9d9d9] rounded-2xl md:rounded-3xl p-2 sm:p-3 md:p-4 text-sm sm:text-base md:text-lg"
                >
                    Mejora tu posicionamiento en Google.
                </div>
            </div>
        </div>

        <!-- Card 7: Soporte experto -->
        <div
            class="row-span-1 md:row-span-2 row-start-5 md:col-start-4 p-1 rounded-2xl md:rounded-3xl group relative h-full w-full"
        >
            <div class="flip-container w-full h-full">
                <div
                    class="front flex items-center justify-center bg-white shadow-[4px_4px_0px_#d9d9d9] sm:shadow-[6px_6px_0px_#d9d9d9] md:shadow-[8px_8px_0px_#d9d9d9] rounded-2xl md:rounded-3xl p-2 sm:p-3 md:p-4 text-lg sm:text-xl md:text-2xl"
                >
                    Soporte experto
                    <span
                        class="absolute w-6 h-6 flex items-center justify-center top-3 right-3 bg-primary rounded-full text-2xl"
                        >+
                    </span>
                    <span class="absolute bottom-3 right-3">
                        <Soporte width={28} />
                    </span>
                </div>
                <div
                    class="back flex items-center justify-center bg-white shadow-[4px_4px_0px_#d9d9d9] sm:shadow-[6px_6px_0px_#d9d9d9] md:shadow-[8px_8px_0px_#d9d9d9] rounded-2xl md:rounded-3xl p-2 sm:p-3 md:p-4 text-sm sm:text-base md:text-lg"
                >
                    Te acompañamos en cada paso de tu proyecto.
                </div>
            </div>
        </div>

        <!-- Card 8: Tecnología avanzada -->
        <div
            class="row-span-1 md:row-span-2 row-start-5 col-start-2 md:col-start-5 p-1 rounded-2xl md:rounded-3xl group relative h-full w-full"
        >
            <div class="flip-container w-full h-full">
                <div
                    class="front flex items-center justify-center bg-white shadow-[4px_4px_0px_#d9d9d9] sm:shadow-[6px_6px_0px_#d9d9d9] md:shadow-[8px_8px_0px_#d9d9d9] rounded-2xl md:rounded-3xl p-2 sm:p-3 md:p-4 text-lg sm:text-xl md:text-2xl"
                >
                    Tecnología avanzada
                    <span
                        class="absolute w-6 h-6 flex items-center justify-center top-3 right-3 bg-primary rounded-full text-2xl"
                        >+
                    </span>
                    <span class="absolute bottom-3 right-3">
                        <Tec width={28} />
                    </span>
                </div>
                <div
                    class="back flex items-center justify-center bg-white shadow-[4px_4px_0px_#d9d9d9] sm:shadow-[6px_6px_0px_#d9d9d9] md:shadow-[8px_8px_0px_#d9d9d9] rounded-2xl md:rounded-3xl p-2 sm:p-3 md:p-4 text-sm sm:text-base md:text-lg"
                >
                    Utilizamos las últimas herramientas para potenciar tu
                    negocio.
                </div>
            </div>
        </div>
    </div>
</section>
