---
import "../styles/global.css";
import Header from "../components/common/Header.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import Analytics from "@vercel/analytics/astro";
---

<html lang="es" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=5.0"
        />

        <!-- Primary Meta Tags -->
        <title>SuaWeb | Soluciones Digitales Innovadoras</title>
        <meta
            name="title"
            content="SuaWeb | Soluciones Digitales Innovadoras"
        />
        <meta
            name="description"
            content="Yo puse esto en el wsp: Diseñamos sitios web 100% propios, sin depender de plataformas externas. Tu negocio, tu identidad digital "
        />
        <meta
            name="keywords"
            content="suaweb, sua web, web, sitio web, página, web personal, web corporativa, web de empresa, web de negocio, web de tienda, web de blog, web de portafolio, web de landing page, web de landing page corporativa, web de landing page personal, web de landing page tienda, web de landing page blog, web de landing page portafolio"
        />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://suaweb.vercel.app/" />
        <meta
            property="og:title"
            content="SuaWeb | Soluciones Digitales Innovadoras"
        />
        <meta
            property="og:description"
            content="Yo puse esto en el wsp: Diseñamos sitios web 100% propios, sin depender de plataformas externas. Tu negocio, tu identidad digital "
        />
        <meta
            property="og:image"
            content="https://tudominio.com/images/og-image.jpg"
        />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://suaweb.vercel.app/" />
        <meta
            property="twitter:title"
            content="SuaWeb | Soluciones Digitales Innovadoras"
        />
        <meta
            property="twitter:description"
            content="Yo puse esto en el wsp: Diseñamos sitios web 100% propios, sin depender de plataformas externas. Tu negocio, tu identidad digital "
        />
        <meta
            property="twitter:image"
            content="https://tudominio.com/images/og-image.jpg"
        />

        <!-- Favicon y Web -->
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />

        <!-- Preconexión y precarga de recursos críticos -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

        <meta
            name="google-site-verification"
            content="2H0mvZR5BGSGJ5--ibKTYayeVab-L5SBezNMCdOzZF4"
        />
        <SpeedInsights />
        <Analytics />
    </head>

    <body
        class="bg-background flex flex-col items-center justify-center max-w-4xl w-full mx-auto overflow-x-hidden px-4 sm:px-6 lg:px-8 min-h-screen"
    >
        <div class="custom-cursor" id="cursor"></div>
        <Header />
        <slot />

        <!-- Script para mover el puntero con el mouse -->
        <script>
            const cursor = document.getElementById(
                "cursor",
            ) as HTMLElement | null;

            if (!cursor) {
                throw new Error("No se encontró el elemento con id 'cursor'.");
            }

            // Tipos de cursor
            const cursorTypes = {
                default: () => {
                    cursor?.classList.remove("-text", "-pointer");
                },
                text: () => {
                    cursor?.classList.add("-text");
                    cursor?.classList.remove("-pointer");
                },
                pointer: () => {
                    cursor?.classList.add("-pointer");
                    cursor?.classList.remove("-text");
                },
            };

            // Detectar elementos interactivos
            document
                .querySelectorAll(
                    "a, button, input, textarea, [contenteditable], [data-cursor]",
                )
                .forEach((element) => {
                    // Puntero de texto
                    if (
                        ["input", "textarea", "contenteditable"].some((type) =>
                            element.matches(type),
                        )
                    ) {
                        element.addEventListener("mouseenter", () =>
                            cursorTypes.text(),
                        );
                        element.addEventListener(
                            "mouseleave",
                            cursorTypes.default,
                        );
                    }

                    // Puntero de mano
                    if (element.matches('a, button, [data-cursor="pointer"]')) {
                        element.addEventListener("mouseenter", () =>
                            cursorTypes.pointer(),
                        );
                        element.addEventListener(
                            "mouseleave",
                            cursorTypes.default,
                        );
                    }
                });

            // Sistema de seguimiento del cursor
            let mouseX = 0,
                mouseY = 0,
                cursorX = 0,
                cursorY = 0;

            function updateCursor(): void {
                if (cursor) {
                    cursorX = mouseX;
                    cursorY = mouseY;
                    cursor.style.transform = `translate(${cursorX}px, ${cursorY}px)`;
                }
                requestAnimationFrame(updateCursor);
            }

            document.addEventListener("pointermove", (e: MouseEvent) => {
                mouseX = e.clientX;
                mouseY = e.clientY;
            });

            updateCursor();
        </script>

        <!-- Schema Markup para SEO -->
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "Organization",
                "name": "SuaWeb",
                "url": "https://tudominio.com",
                "logo": "https://tudominio.com/images/logo.png",
                "description": "Breve descripción de la empresa",
                "sameAs": [
                    "https://facebook.com/tuempresa",
                    "https://twitter.com/tuempresa",
                    "https://linkedin.com/company/tuempresa"
                ]
            }
        </script>
    </body>
</html>
